<h4>Detalle productos</h4>
@if (items.length > 0) {
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @for (item of items; track $index) {
                <tr row-item [item]="item" (removeEventEmitter)="onRemove($event)"></tr>
            }
        </tbody>
    </table>
} @else {
    <div>
        <h4 class="alert alert-warning">No existen registros</h4>
    </div>

}
            